@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("../fonts/nunito/Nunito-Regular.ttf");
}

.answer_wrapper.open {
  height: auto;
}

.answer_wrapper {
  transition: height ease 400ms;
}
